.main__content2-game{
    background-image: url("../assets/img/bg/stars2.gif");
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100vw 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 16/9;
    padding: 1rem;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: none;
    h2 {
        color: red;
    }
    .game__data{
        display: flex;
        gap: 5rem;
        h3 {
            @media screen and (min-width: 1200px) {
                font-size: 2rem;
            }
        }
        
    }

    .game__ship-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        user-select: none;
        .game__ship{
            width: 64px;
            height: 64px;
            position: absolute;
            bottom: 0;
            z-index: 2;
            @media screen and (min-width: 1200px) {
                width: 128px;
                height: 128px;
            }
        }
        .game__ship-canon{
            position: absolute;
            bottom: 25px;
            .game__ship-shoot{
                position: absolute;
                bottom: 0;
                left: 1px;
                padding: .1rem;
                background: red;
            }
        } 


    }

    

}