.main__content2-game{
    background-image: url("../assets/img/bg/stars2.gif");
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100vw 100%;
    display: flex;
    flex-direction: column;
    aspect-ratio: 16/9;
    padding: 1rem;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: none;
    overflow: hidden;
    h2 {
        color: red;
    }
    .game__data{
        display: flex;
        h3 {
            font-family: "Press Start 2P", system-ui;
            font-size: .8rem;
            color: #efd69d;
            @media screen and (min-width: 1200px) {
                font-size: 2rem;
            }
        }
        
    }

    .game__ship-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        user-select: none;
        .game__ship{
            width: 64px;
            height: 64px;
            position: absolute;
            bottom: 0;
            z-index: 2;
            @media screen and (min-width: 1200px) {
                width: 128px;
                height: 128px;
            }
        }
    }
    .game__ship-shoot {
        position: absolute;
        padding: .1rem;
        width: 8px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        background-image: url("/src/assets/img/sprite/bullet.png");
    }

    .game__enemy-container{
        display: flex;
        flex-direction: column;
        padding: 0 .8rem;
        position: absolute;
        left: 0;
        top: 0px;
        height: 100px;
        width: 100%;
        img{
            padding: 0;
            margin: 0;
        }
        .enemy__health-bar{ 
            position: absolute;
            top: 16px;
            right: 2px;
            width: 150px;
            border-radius: 10px;
            padding: .5rem;
            background-color: lightcoral;
            transition: width .5s ease;
            z-index: 2;
            
        }
        .game__enemy{ 
            position: absolute; 
            width: 128px;
            top: 30px;
            margin: 0;
            padding: 0;
        }
    }

    .finalBoard{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: rgba(255, 255, 255, 0.3);
        justify-content: center;
        align-items: center;
        h2{
            font-family: "Press Start 2P", system-ui;
            color: #efd69d;
            font-weight: 600;
            margin: 0;
        }
        h4 {
            font-family: "Press Start 2P", system-ui;
            color: #efd69d;
            font-weight: 500;
            font-size: .7rem;
        }
        button{
            font-family: "Press Start 2P", system-ui;
            text-transform: uppercase;
            padding:1em 4rem;
            font-size: 1rem;
            color: #efd69d;
            text-shadow: 1px 1px #000;
        }

    }
    

}